#header1-p H1 {
  text-align: left;
}
#msg-box4-1 .mbr-header__text {
  color: #d14841;
  font-size: 46px;
  text-align: right;
}
#msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1 .mbr-article {
  color: #ffffff;
}
#msg-box4-1 .mbr-article P {
  color: #d14841;
  text-align: right;
}
#footer1-2 P {
  color: #000000;
}
#footer1-b P {
  color: #000000;
}
#msg-box4-f .mbr-header__text {
  color: #d14841;
  font-size: 46px;
  text-align: right;
}
#msg-box4-f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-f .mbr-article {
  color: #ffffff;
}
#msg-box4-f .mbr-article P {
  color: #d14841;
  text-align: right;
}
#footer1-c P {
  color: #000000;
}
#msg-box4-h .mbr-header__text {
  color: #d14841;
  font-size: 46px;
  text-align: right;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #ffffff;
}
#msg-box4-h .mbr-article P {
  color: #d14841;
  text-align: right;
}
#header3-i P {
  text-align: left;
  color: #000000;
}
#header3-i H3 {
  color: #d14841;
}
#footer1-d P {
  color: #000000;
}
#msg-box4-j .mbr-header__text {
  color: #d14841;
  font-size: 46px;
  text-align: right;
}
#msg-box4-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-j .mbr-article {
  color: #ffffff;
}
#msg-box4-j .mbr-article P {
  color: #d14841;
  text-align: right;
}
#footer1-e P {
  color: #000000;
}
#msg-box4-m .mbr-header__text {
  color: #d14841;
  font-size: 46px;
  text-align: right;
}
#msg-box4-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-m .mbr-article {
  color: #ffffff;
}
#msg-box4-m .mbr-article P {
  color: #d14841;
  text-align: right;
}
#form1-n .mbr-header__text {
  text-align: right;
  color: #000000;
}
